MVC/Connected Services/ServiceReferenceProducto/ServicioProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProducto" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56442/ServicioProducto.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56442/ServicioProducto.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56442/ServicioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProducto_AltaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_AltaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_BajaProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_BajaProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_ModificarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_ModificarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_TraerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodos" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_TraerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_BuscarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProducto" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_BuscarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_TraerTodosStock_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodosStock" />
  </wsdl:message>
  <wsdl:message name="IServicioProducto_TraerTodosStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodosStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProducto">
    <wsdl:operation name="AltaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/AltaProducto" message="tns:IServicioProducto_AltaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/AltaProductoResponse" message="tns:IServicioProducto_AltaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/BajaProducto" message="tns:IServicioProducto_BajaProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/BajaProductoResponse" message="tns:IServicioProducto_BajaProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/ModificarProducto" message="tns:IServicioProducto_ModificarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/ModificarProductoResponse" message="tns:IServicioProducto_ModificarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/TraerTodos" message="tns:IServicioProducto_TraerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/TraerTodosResponse" message="tns:IServicioProducto_TraerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/BuscarProducto" message="tns:IServicioProducto_BuscarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/BuscarProductoResponse" message="tns:IServicioProducto_BuscarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodosStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProducto/TraerTodosStock" message="tns:IServicioProducto_TraerTodosStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProducto/TraerTodosStockResponse" message="tns:IServicioProducto_TraerTodosStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProducto" type="tns:IServicioProducto">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/AltaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/BajaProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/ModificarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodos">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/TraerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProducto">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/BuscarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodosStock">
      <soap:operation soapAction="http://tempuri.org/IServicioProducto/TraerTodosStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProducto">
    <wsdl:port name="BasicHttpBinding_IServicioProducto" binding="tns:BasicHttpBinding_IServicioProducto">
      <soap:address location="http://localhost:56442/ServicioProducto.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>