MVC/Connected Services/ServiceReferenceProducto/ServicioProducto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56442/ServicioProducto.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" />
  <xs:element name="AltaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="producto" nillable="true" type="q1:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BajaProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="producto" nillable="true" type="q2:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarProductoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="TraerTodosResult" nillable="true" type="q3:ArrayOfProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProducto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProductoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="BuscarProductoResult" nillable="true" type="q4:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodosStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodosStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="TraerTodosStockResult" nillable="true" type="q5:ArrayOfProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>