MVC/Connected Services/ServiceReferencePais/ServicioPais.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaisDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaisDTO" nillable="true" type="tns:PaisDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaisDTO" nillable="true" type="tns:ArrayOfPaisDTO" />
  <xs:complexType name="PaisDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisDTO" nillable="true" type="tns:PaisDTO" />
</xs:schema>