MVC/Connected Services/ServiceReferenceCliente/ServicioCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56442/ServicioCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56442/ServicioCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56442/ServicioCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" />
      <xsd:import schemaLocation="http://localhost:56442/ServicioCliente.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioCliente_AltaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:AltaCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_AltaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_BajaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BajaCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_BajaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_TraerTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodos" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_TraerTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:TraerTodosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_BuscarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarCliente" />
  </wsdl:message>
  <wsdl:message name="IServicioCliente_BuscarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioCliente">
    <wsdl:operation name="AltaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/AltaCliente" message="tns:IServicioCliente_AltaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/AltaClienteResponse" message="tns:IServicioCliente_AltaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BajaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/BajaCliente" message="tns:IServicioCliente_BajaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/BajaClienteResponse" message="tns:IServicioCliente_BajaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/ModificarCliente" message="tns:IServicioCliente_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/ModificarClienteResponse" message="tns:IServicioCliente_ModificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TraerTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/TraerTodos" message="tns:IServicioCliente_TraerTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/TraerTodosResponse" message="tns:IServicioCliente_TraerTodos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioCliente/BuscarCliente" message="tns:IServicioCliente_BuscarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioCliente/BuscarClienteResponse" message="tns:IServicioCliente_BuscarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioCliente" type="tns:IServicioCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AltaCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/AltaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/BajaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTodos">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/TraerTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarCliente">
      <soap:operation soapAction="http://tempuri.org/IServicioCliente/BuscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioCliente">
    <wsdl:port name="BasicHttpBinding_IServicioCliente" binding="tns:BasicHttpBinding_IServicioCliente">
      <soap:address location="http://localhost:56442/ServicioCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>