MVC/Connected Services/ServiceReferenceImportacion/ServicioImportacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56442/ServicioImportacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" />
  <xs:element name="AltaImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="importacion" nillable="true" type="q1:ImportacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaImportacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importacionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BajaImportacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="importacion" nillable="true" type="q2:ImportacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModificarImportacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerTodosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="TraerTodosResult" nillable="true" type="q3:ArrayOfImportacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarImportacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="genId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarImportacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="BuscarImportacionResult" nillable="true" type="q4:ImportacionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDatos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TraerDatosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicio.DTO" minOccurs="0" name="TraerDatosResult" nillable="true" type="q5:ProductoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>