MVC/Connected Services/ServiceReferenceImportacion/ServicioImportacion2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImportacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Enviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FchIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FchSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="tns:PaisDTO" />
      <xs:element minOccurs="0" name="Producto" nillable="true" type="tns:ProductoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportacionDTO" nillable="true" type="tns:ImportacionDTO" />
  <xs:complexType name="PaisDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPais" type="xs:int" />
      <xs:element minOccurs="0" name="NombrePais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisDTO" nillable="true" type="tns:PaisDTO" />
  <xs:complexType name="ProductoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cliente" nillable="true" type="tns:ClienteDTO" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
  <xs:complexType name="ClienteDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Antiguedad" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Productos" nillable="true" type="tns:ArrayOfProductoDTO" />
      <xs:element minOccurs="0" name="Rut" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteDTO" nillable="true" type="tns:ClienteDTO" />
  <xs:complexType name="ArrayOfProductoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductoDTO" nillable="true" type="tns:ArrayOfProductoDTO" />
  <xs:complexType name="ArrayOfImportacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportacionDTO" nillable="true" type="tns:ImportacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportacionDTO" nillable="true" type="tns:ArrayOfImportacionDTO" />
</xs:schema>