MVC/Connected Services/ServiceReferenceImportacion/ServicioImportacion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56442/ServicioImportacion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Dominio.Clases" />
  <xs:complexType name="ImportacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Enviado" type="xs:boolean" />
      <xs:element minOccurs="0" name="FchIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FchSalida" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dominio.Clases" minOccurs="0" name="Pais" nillable="true" type="q1:Pais" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Dominio.Clases" minOccurs="0" name="Producto" nillable="true" type="q2:Producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportacionDTO" nillable="true" type="tns:ImportacionDTO" />
  <xs:complexType name="ArrayOfImportacionDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ImportacionDTO" nillable="true" type="tns:ImportacionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfImportacionDTO" nillable="true" type="tns:ArrayOfImportacionDTO" />
  <xs:complexType name="ProductoDTO">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Dominio.Clases" minOccurs="0" name="Cliente" nillable="true" type="q3:Cliente" />
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="Stock" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductoDTO" nillable="true" type="tns:ProductoDTO" />
</xs:schema>